.login-holder {
	height: 100%;
	width: 100%;
	z-index: 2000000;
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	text-align: center;
	padding-top: 30%;
}
.page-header {
	font-size: 30px;
	margin-bottom: 20px;
}
