<div class="header">
	<div class="header-holder">MyMechanic <mat-icon inline class="icon">build</mat-icon></div>
</div>

<div class="holder">
	<router-outlet></router-outlet>
</div>

<div class="nav-footer" *ngIf="showFooter">
	<button mat-icon-button>
		<mat-icon [routerLink]="['/home']" class="nav-icon">home</mat-icon>
	</button>
	<button mat-icon-button>
		<mat-icon [routerLink]="['/create']" class="nav-icon">add_circle_outline</mat-icon>
	</button>

	<button mat-icon-button>
		<mat-icon [routerLink]="['/settings']" class="nav-icon">settings</mat-icon>
	</button>
</div>
