.centerer {
	display: flex;
	justify-content: center;
}

.my-headshot {
	background-size: cover;
	height: 50px;
	width: 50px;
}

.page-header {
	font-size: 30px;
	margin-bottom: 20px;
}

.prewrap {
	white-space: pre-wrap;
}
