/* You can add global styles to this file, and also import other style files */

// SMBLUE  #2196f3

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

*:focus {
	outline: none;
}

.matMenuPanelClass {
	z-index: 60;
}

carousel.carousel {
	z-index: unset !important;
}

.higher-snack-bar {
	bottom: 70px;
	position: relative;
}

.carousel-dots {
	bottom: 10px !important;
}

.no-padding-dialog {
	max-width: 95vw !important;
}

.no-padding-dialog .mat-dialog-container {
	padding: 10px 10px 6px 10px;
}
