.header {
	font-size: 30px;
	font-weight: bold;
}

.case-card {
	margin-top: 20px;
}

.smaller-icon {
	font-size: 22px;
	margin-left: 5px;
}

.image {
	border-radius: 4px;
	max-width: 100%;
	margin: 10px auto 10px auto;
}

.cauroselImage {
}
