.header {
	font-size: 30px;
	font-weight: bold;
}

.case-card {
	margin-top: 20px;
	margin-bottom: 20px;
}

.smaller-icon {
	font-size: 22px;
	margin-left: 5px;
}

.image {
	border-radius: 4px;
	max-width: 100%;
	margin: auto;
}

.menu-button {
	text-align: left;
	padding-right: 20px;
}

.top-right {
	position: absolute;
	top: 3px;
	right: 3px;
}

.clickable {
	cursor: pointer;
}

.margin-bottom {
	margin-bottom: 10px;
}

.right-align {
	display: flex;
	justify-content: flex-end;
	margin-top: 15px;
}

.right-margin {
	margin-right: 10px;
}
